body{
    background-color: aquamarine;
}

h1{
    font-family: 'Brush Script MT', 'Courier New', Courier, monospace;
}

li, p{
    font-family: Copperplate, monospace;
}

img {
    border: 5px solid goldenrod;
}